<h1>update streetart form</h1>

<form action="/streetart/<%= userpost['id'] %>" method="post">

  <label for="">title</label>
  <input type="text" name="title">

  <label for="">image url</label>
  <input type="url" name="image_url" placeholder="http://....">

  <label for="">location </label>
  <input type="text" name="location">

  <label for="">name</label>
  <input type="text" name="caption">

  <button>update</button>

</form>